* {
    box-sizing: border-box;
}

form {
    width: 25%;
    margin: 0 auto;
    margin-top: 10%;
    padding: 30px 0 30px 0;
}

h1 {
    margin-bottom: 30px;
}

label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.form-control {
    border-radius: 10px;
}

.form-group {
    padding-top: 15px;
}

p {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.btn-submit {
    border-radius: 10px;
    padding: 6px 30px 6px 30px;
    background: #FF5C00;
    color: #fff;
    width: 100%;
}

.auth {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}